body {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #222222;
    font-family: 'Roboto', sans-serif; /* Apply the font to whole body */
    color: #ffffff;
}

#top-bar {
    width: 100%;
    padding: 1em;
    background-color: #3E3E3E;
    color: #fff;
    box-sizing: border-box;
}

#top-bar form {
    display: flex;
    justify-content: flex-end;
}



#sidebar {
    width: 10%;
    background-color: #4A4A4A;
    color: #FFF;
    box-sizing: border-box;
    height: calc(100vh - 2em); /* Subtracting the top-bar height */
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 1em;  /* Add some space below the profile information */
}

#profile-picture {
    flex: 0 0 15%;  /* Take up 15% of .profile-info's width */
    max-height: 15%;
    padding-right: 1em;
    display: flex;
    justify-content: center;
}

#profile-picture img {
    border-radius: 50%;
    width: 100%;  /* Fill up #profile-picture's dimension */
}

.profile-details {
   flex-grow: 1;  /* Take up remaining space in .profile-info */
}

#sidebar nav ul li {
    list-style-type: none;
    padding: 1em;
}

#sidebar nav ul li a {
    color: #FFF;
    text-decoration: none;
}

#main-content {
    width: 90%;
    padding: 1em;
    box-sizing: border-box;
}


#top-bar {
    width: 100%;
    padding: 1em;
    background-color: #3E3E3E;
    color: #fff;
    box-sizing: border-box;
    display: flex;  /* Aligning items to the right */
    justify-content: flex-end;
}

.login-info {
    display: flex;  
    align-items: center;
}

.small-picture {
    width: 30px;    /* Adjust size as needed */
    height: 30px;
    overflow: hidden; /* To create a circle avatar */ 
    border-radius: 50%;
    margin-right: 10px; /* Add space between picture and text */
}

.small-picture img {
    width: 100%;
    height: auto;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.logo {
  height: 50px; /* adjust as needed */
}